# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=emergency_db
DB_USER=postgres
DB_PASSWORD=1109

# Redis (для Celery)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0